<app-data-table [columns]="columns" [data]="items | async">
  <ng-template cellTemplate="status" let-dataItem>
    <span>{{getStatus(dataItem['status'])}}</span>
  </ng-template>
  
  <ng-template cellTemplate="priority" let-dataItem>
    <span>{{dataItem['priority'] | titlecase}}</span>
  </ng-template>

  <ng-template cellTemplate="action" let-dataItem>
    <a href="#" title="Edit" (click)="onRowClick(dataItem, $event)">
      <i class="material-icons icon-success">edit</i>
    </a>
  </ng-template>
</app-data-table>
