.border-left-success {
  border-bottom: .25rem solid rgba(0,69,37,0.8) !important;
}

.material-icons {
  color:rgba(0,69,37,0.8) !important;
}

.text-gray-800 {
  color: #5a5c69!important;
}

.text-gray-300 {
  color: #dddfeb!important;
}

.material-icons.md-70 { 
  font-size: 70px; 
}


