<!-- Data Table -->
<table *ngIf="data" class="table table-striped">
  <thead>
    <tr>
      <th scope="col" *ngFor="let col of columns">{{col.title}}</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of (displayData | async); let i = index">
    <ng-container *ngFor="let col of columns">
      <ng-container *ngIf="col.cellTemplate; else baseTmpl">
        <td>
          <ng-container 
            *ngTemplateOutlet="getTemplateRef(col.field); context: {$implicit: row, rowIndex: i}">
          </ng-container>
        </td>
      </ng-container>
      <ng-template #baseTmpl>
        <td><ngb-highlight [result]="row[col.field]"></ngb-highlight></td>
      </ng-template>
    </ng-container>
  </tr>
  </tbody>
</table>

<app-pagination
  *ngIf="data"
  [total]="total | async"
  [pageSize]="pageSize"
  (pageChange)="onPageChange($event)">
</app-pagination>



