.home-menu .material-icons:hover {
    color: #004525 !important;
    cursor: default;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.uncc-logo {
    width:"70";
    height:"70";
}

input[type=email], input[type=password] {
    width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}