<div class="container-fluid mb-5">
  <h1>Submit Ticket</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="ticketSubmit()"
    novalidate
  >
    <div class="form-group">
      <input
        type="text"
        [class.is-invalid]="form.get('subject').invalid && form.get('subject').touched"
        class="form-control"
        formControlName="subject"
        placeholder="Ticket Subject"
      />
      <small
        [class.d-none]="form.get('subject').valid || form.get('subject').untouched"
        class="text-danger"
        >Required* and cannot exceed 10 characters</small
      >
    </div>

    <div class="form-group">
      <select
        formControlName="department"
        [class.is-invalid]="form.get('department').invalid && form.get('department').touched"
        class="custom-select"
      >
        <option [value]="d.value" *ngFor="let d of departmentList">{{d.label}}</option>
      </select>
      <small
        [class.d-none]="form.get('department').valid || form.get('department').untouched"
        class="text-danger"
        >Required*</small
      >
    </div>

    <div class="form-group">
      <select
        [class.is-invalid]="form.get('priority').invalid && form.get('priority').touched"
        class="custom-select"
        formControlName="priority"
      >
        <option [value]="p.value" *ngFor="let p of priorityList">{{p.label}}</option>
      </select>
      <small
        [class.d-none]="form.get('priority').valid || form.get('priority').untouched"
        class="text-danger"
        >Required*</small
      >
    </div>

    <div class="form-group">
      <textarea
        [class.is-invalid]="form.get('description').invalid && form.get('description').touched"
        class="form-control"
        formControlName="description"
        rows="5"
        placeholder="Ticket Description"
      ></textarea>
      <small
        [class.d-none]="form.get('description').valid || form.get('description').untouched"
        class="text-danger"
        >Required*</small
      >
    </div>

    <div class="row ml-1">
      <button
        class="btn btn-success"
        type="submit"
        [disabled]="form.invalid || form.untouched">
        Submit
      </button>
      <button
        class="btn btn-outline-success ml-2"
        (click)="cancel()"
        type="button"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
